.first-section {
  padding: 40px 0 40px;

  .main-info {
    display: grid;
    grid-template-columns: 250px 196px 35px;
    justify-content: space-between;
    align-items: end;

    &__name {
      font-size: 47px;
    }

    &__about {
      font-size: 18px;
      padding-right: 25px;
    }

    &__lang {
      display: inline-flex;
      gap: 3px;
      align-items: end;
      transform: rotate(-90deg);
      font-size: 16px;
      padding-left: 5px;

      & a {
        font-size: 16px;
        color: rgba(130, 130, 130, 1);
        padding: 3px 3px 5px;

        &:hover, &:focus {
          color: #070707;
          font-weight: 600;
        }
      }

      & p {
        padding: 3px 3px 5px;
      }
    }
  }

  .main-img {
    margin: 30px 0 30px;
    height: 550px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;

    & img {
      height: 100%;
      width: auto;
    }
  }

  .active {
    color: white !important;
    background-color: black;
    padding: 3px 3px 5px;
    border-radius: 5px;
  }
}

@media screen and (min-width: 1920px) {
  .first-section {
    padding: 50px 0 50px;

    .main-info {
      grid-template-columns: 270px 240px 35px;

      &__name {
        font-size: 54px;
      }

      &__about {
        font-size: 22px;
      }

      &__lang {
        font-size: 20px;

        & a {
          font-size: 20px;
        }
      }
    }

    .main-img {
      margin: 40px 0 40px;
      height: 780px;
    }
  }
}

@media screen and (min-width: 1024px) and (max-width: 1364px) {
  .first-section {
    .main-info {
      &__name {
        font-size: 45px;
      }
    }

    .main-img {
      margin: 30px 0 30px;
      height: 594px;
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .first-section {
    padding: 30px 0;

    .main-info {

      &__name {
        font-size: 43px;
      }

      &__about {
        font-size: 17px;
      }
    }

    .main-img {
      height: 490px;
    }
  }
}

@media screen and (min-width: 595px) and (max-width: 767px) {
  .first-section {
    .main-info {
      grid-template-columns: 250px 176px;

      &__name {
        font-size: 43px;
      }

      &__about {
        padding-right: 0;
      }

      &__lang {
        display: none;
      }
    }

    .main-img {
      height: 590px;

      & img {
        height: 100%;
        width: auto;
      }
    }
  }
}

@media screen and (min-width: 412px) and (max-width: 594px) {
  .first-section {
    .main-info {
      grid-template-columns: 250px 176px;

      &__name {
        font-size: 37px;
      }

      &__about {
        padding-right: 0;
      }

      &__lang {
        display: none;
      }
    }

    .main-img {
      height: 590px;
      padding-left: 45px;

      & img {
        height: 100%;
        width: auto;
      }
    }
  }
}

@media screen and (min-width: 380px) and (max-width: 411px) {
  .first-section {
    .main-info {
      grid-template-columns: 210px 95px;

      &__name {
        font-size: 37px;
      }

      &__about {
        padding-right: 0;
      }

      &__lang {
        display: none;
      }
    }

    .main-img {
      height: 590px;
      padding-left: 45px;

      & img {
        height: 100%;
        width: auto;
      }
    }
  }
}