.header {
  &__wrapper {
    .nav {
      display: flex;
      justify-content: space-between;
      padding: 33px 0;

      &__link {
        font-size: 18px;
        font-weight: 600;
        color: #828282;

        &:hover, &:focus {
          color: #070707;
        }
      }
    }

    .separator {
      min-width: 100%;
      max-height: 1px;
      border: 1px solid #828282;
      background-color: #828282;
    }

    .mob_header {
      display: none;
    }

    .mob_header__content {
      display: none;
    }
  }
}

@media screen and (min-width: 1920px) {
  .header {
    &__wrapper {
      .nav {
        &__link {
          font-size: 24px;
        }
      }
    }
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) {
  .header {
    &__wrapper {
      .nav {
        display: none;
      }

      .mob_header {
        padding: 15px 5px;
        display: flex;
        justify-content: end;
        align-items: center;

        &__right {
          display: flex;
          gap: 35px;

          .mob_header__lang {
            display: flex;
            align-items: center;
            gap: 7px;

            & > a, p {
              font-size: 19px;
              font-weight: 800;
              color: black;
            }
          }

          .mob_header__dash {
            margin: 3px 10px 0 0;
            width: 34px;
            height: 31px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 10px;

            & div {
              width: 34px;
              height: 3px;
              background-color: black;
              flex-shrink: 0;
            }
          }

        }
      }

      .mob_header__content {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        min-width: 350px;
        min-height: 450px;
        display: flex;
        flex-direction: column;
        justify-content: start;
        gap: 45px;
        padding: 35px 25px 55px;
        background-color: white;
        transform: translateY(-150%);
        /*animation: header 2s forwards;*/ //JS code do it.

        @keyframes header {
          0% {transform: translateY(-150%);}
          100% {transform: translateY(0);}
        }

        @keyframes headerBack {
          0% {transform: translateY(0);}
          100% {transform: translateY(-150%);}
        }

        & > a {
          font-size: 25px;
          font-weight: bold;
          color: black;

          &:hover {
            -webkit-text-stroke: 1px black;
          }
        }

        & > img {
          height: 30px;
          width: 30px;
          align-self: end;
        }
      }

      .separator {
        min-width: 100%;
        max-height: 1px;
        border: 1px solid #828282;
        background-color: #828282;
      }

      .active {
        color: white !important;
        background-color: black;
        padding: 2px;
        border-radius: 5px;
      }
    }
  }
}