@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
body {
  background-color: #FFFFFF !important;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  max-width: 940px;
  margin: 0 auto;
  overflow: hidden;
}

.start_background {
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
  background-color: black;
}

.block {
  height: 100%;
  width: 100%;
  transform: translateX(100%);
  animation: slideIn 1s forwards;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 50;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
@media screen and (min-width: 1920px) {
  .container {
    max-width: 1380px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1364px) {
  .container {
    max-width: 1020px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  * {
    font-size: 16px;
  }

  .container {
    max-width: 750px;
  }
}
@media screen and (min-width: 595px) and (max-width: 767px) {
  * {
    font-size: 14px;
  }

  .container {
    max-width: 590px;
  }
}
@media screen and (min-width: 412px) and (max-width: 594px) {
  * {
    font-size: 14px;
  }

  .container {
    max-width: 412px;
  }
}
@media screen and (min-width: 380px) and (max-width: 411px) {
  * {
    font-size: 14px;
  }

  .container {
    max-width: 380px;
  }
}
@media screen and (min-width: 320px) and (max-width: 379px) {
  * {
    font-size: 14px;
  }

  .container {
    max-width: 310px;
  }
}
.header__wrapper .nav {
  display: flex;
  justify-content: space-between;
  padding: 33px 0;
}
.header__wrapper .nav__link {
  font-size: 18px;
  font-weight: 600;
  color: #828282;
}
.header__wrapper .nav__link:hover, .header__wrapper .nav__link:focus {
  color: #070707;
}
.header__wrapper .separator {
  min-width: 100%;
  max-height: 1px;
  border: 1px solid #828282;
  background-color: #828282;
}
.header__wrapper .mob_header {
  display: none;
}
.header__wrapper .mob_header__content {
  display: none;
}

@media screen and (min-width: 1920px) {
  .header__wrapper .nav__link {
    font-size: 24px;
  }
}
@media screen and (min-width: 380px) and (max-width: 767px) {
  .header__wrapper .nav {
    display: none;
  }
  .header__wrapper .mob_header {
    padding: 15px 5px;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  .header__wrapper .mob_header__right {
    display: flex;
    gap: 35px;
  }
  .header__wrapper .mob_header__right .mob_header__lang {
    display: flex;
    align-items: center;
    gap: 7px;
  }
  .header__wrapper .mob_header__right .mob_header__lang > a, .header__wrapper .mob_header__right .mob_header__lang p {
    font-size: 19px;
    font-weight: 800;
    color: black;
  }
  .header__wrapper .mob_header__right .mob_header__dash {
    margin: 3px 10px 0 0;
    width: 34px;
    height: 31px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
  .header__wrapper .mob_header__right .mob_header__dash div {
    width: 34px;
    height: 3px;
    background-color: black;
    flex-shrink: 0;
  }
  .header__wrapper .mob_header__content {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    min-width: 350px;
    min-height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    gap: 45px;
    padding: 35px 25px 55px;
    background-color: white;
    transform: translateY(-150%);
    /*animation: header 2s forwards;*/
  }
  @keyframes header {
    0% {
      transform: translateY(-150%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes headerBack {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(-150%);
    }
  }
  .header__wrapper .mob_header__content > a {
    font-size: 25px;
    font-weight: bold;
    color: black;
  }
  .header__wrapper .mob_header__content > a:hover {
    color: orange;
  }
  .header__wrapper .mob_header__content > img {
    height: 30px;
    width: 30px;
    align-self: end;
  }
  .header__wrapper .separator {
    min-width: 100%;
    max-height: 1px;
    border: 1px solid #828282;
    background-color: #828282;
  }
  .header__wrapper .active {
    color: white !important;
    background-color: black;
    padding: 2px;
    border-radius: 5px;
  }
}
.first-section {
  padding: 40px 0 40px;
}
.first-section .main-info {
  display: grid;
  grid-template-columns: 250px 196px 35px;
  justify-content: space-between;
  align-items: end;
}
.first-section .main-info__name {
  font-size: 47px;
}
.first-section .main-info__about {
  font-size: 18px;
  padding-right: 25px;
}
.first-section .main-info__lang {
  display: inline-flex;
  gap: 3px;
  align-items: end;
  transform: rotate(-90deg);
  font-size: 16px;
  padding-left: 5px;
}
.first-section .main-info__lang a {
  font-size: 16px;
  color: rgb(130, 130, 130);
  padding: 3px 3px 5px;
}
.first-section .main-info__lang a:hover, .first-section .main-info__lang a:focus {
  color: #070707;
  font-weight: 600;
}
.first-section .main-info__lang p {
  padding: 3px 3px 5px;
}
.first-section .main-img {
  margin: 30px 0 30px;
  height: 550px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.first-section .main-img img {
  height: 100%;
  width: auto;
}
.first-section .active {
  color: white !important;
  background-color: black;
  padding: 3px 3px 5px;
  border-radius: 5px;
}

@media screen and (min-width: 1920px) {
  .first-section {
    padding: 50px 0 50px;
  }
  .first-section .main-info {
    grid-template-columns: 270px 240px 35px;
  }
  .first-section .main-info__name {
    font-size: 54px;
  }
  .first-section .main-info__about {
    font-size: 22px;
  }
  .first-section .main-info__lang {
    font-size: 20px;
  }
  .first-section .main-info__lang a {
    font-size: 20px;
  }
  .first-section .main-img {
    margin: 40px 0 40px;
    height: 780px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1364px) {
  .first-section .main-info__name {
    font-size: 45px;
  }
  .first-section .main-img {
    margin: 30px 0 30px;
    height: 594px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .first-section {
    padding: 30px 0;
  }
  .first-section .main-info__name {
    font-size: 43px;
  }
  .first-section .main-info__about {
    font-size: 17px;
  }
  .first-section .main-img {
    height: 490px;
  }
}
@media screen and (min-width: 595px) and (max-width: 767px) {
  .first-section .main-info {
    grid-template-columns: 250px 176px;
  }
  .first-section .main-info__name {
    font-size: 43px;
  }
  .first-section .main-info__about {
    padding-right: 0;
  }
  .first-section .main-info__lang {
    display: none;
  }
  .first-section .main-img {
    height: 590px;
  }
  .first-section .main-img img {
    height: 100%;
    width: auto;
  }
}
@media screen and (min-width: 412px) and (max-width: 594px) {
  .first-section .main-info {
    grid-template-columns: 250px 176px;
  }
  .first-section .main-info__name {
    font-size: 37px;
  }
  .first-section .main-info__about {
    padding-right: 0;
  }
  .first-section .main-info__lang {
    display: none;
  }
  .first-section .main-img {
    height: 590px;
    padding-left: 45px;
  }
  .first-section .main-img img {
    height: 100%;
    width: auto;
  }
}
@media screen and (min-width: 380px) and (max-width: 411px) {
  .first-section .main-info {
    grid-template-columns: 210px 95px;
  }
  .first-section .main-info__name {
    font-size: 37px;
  }
  .first-section .main-info__about {
    padding-right: 0;
  }
  .first-section .main-info__lang {
    display: none;
  }
  .first-section .main-img {
    height: 590px;
    padding-left: 45px;
  }
  .first-section .main-img img {
    height: 100%;
    width: auto;
  }
}
.second-section {
  background-color: #F6F6F6;
  padding: 40px 0;
}
.second-section .second-section__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}
.second-section .second-section__wrapper .section__title {
  font-size: 34px;
  line-height: 42px;
  text-align: center;
}
.second-section .second-section__wrapper .section__pf {
  max-width: 585px;
  text-align: center;
}
.second-section .second-section__wrapper .section__pf__info {
  margin-bottom: 20px;
  font-size: 16px;
}

@media screen and (min-width: 1920px) {
  .second-section {
    padding: 50px 0;
  }
  .second-section .second-section__wrapper .section__title {
    font-size: 38px;
  }
  .second-section .second-section__wrapper .section__pf {
    max-width: 585px;
  }
  .second-section .second-section__wrapper .section__pf__info {
    font-size: 19px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .second-section {
    background-color: #F6F6F6;
    padding: 30px 0;
  }
  .second-section .second-section__wrapper .section__title {
    font-size: 30px;
  }
}
@media screen and (min-width: 412px) and (max-width: 767px) {
  .second-section .second-section__wrapper .section__title {
    font-size: 30px;
  }
}
@media screen and (min-width: 380px) and (max-width: 411px) {
  .second-section .second-section__wrapper {
    padding: 0 10px;
  }
  .second-section .second-section__wrapper .section__title {
    font-size: 27px;
  }
}
.third-section {
  padding: 40px 0;
}
.third-section .third-section-main {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}
.third-section .third-section-main .section__title {
  font-size: 34px;
  line-height: 42px;
  text-align: center;
}
.third-section .third-section-main .skills {
  padding-top: 24px;
  padding-bottom: 10px;
  max-width: 740px;
  display: flex;
  justify-content: space-around;
}
.third-section .third-section-main .skills__item {
  min-width: 126px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  align-self: center;
}
.third-section .third-section-main .skills__item__img {
  width: 75px;
  height: 75px;
  align-self: center;
  margin-bottom: 24px;
  transition: 1s;
}
.third-section .third-section-main .skills__item__p {
  font-size: 18px;
  font-weight: 600;
  line-height: 17px;
  text-align: center;
  color: #828282;
  margin-bottom: 40px;
}
.third-section .third-section-main .skills__item__stars {
  align-self: center;
}
.third-section .third-section-main .slick-slide {
  margin: 0 15px;
  filter: grayscale(100%);
}
.third-section .third-section-main .slick-slide:hover {
  transform: scale(1.2);
  transition-duration: 1s;
  filter: none;
}
.third-section .third-section-main .slick-track {
  padding-top: 20px;
}
.third-section .third-section-main .slick-center {
  filter: none !important;
  transform: scale(1.2);
}
.third-section .third-section-main .arrow, .third-section .third-section-main .arrow_2 {
  cursor: pointer;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 170px;
}
.third-section .third-section-main .arrow {
  right: 0;
}
.third-section .third-section-main .arrow_2 {
  transform: rotate(180deg);
  left: 0;
}

@media screen and (min-width: 1920px) {
  .third-section .third-section-main .section__title {
    font-size: 38px;
  }
  .third-section .third-section-main .section__pf__info {
    font-size: 19px;
  }
  .third-section .third-section-main .skills {
    max-width: 1150px;
  }
  .third-section .third-section-main .skills__item__img {
    width: 95px;
    height: 95px;
  }
  .third-section .third-section-main .skills__item__p {
    font-size: 19px;
  }
  .third-section .third-section-main .arrow, .third-section .third-section-main .arrow_2 {
    width: 45px;
    height: 45px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1364px) {
  .third-section .third-section-main .arrow, .third-section .third-section-main .arrow_2 {
    cursor: pointer;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 190px;
  }
  .third-section .third-section-main .arrow {
    right: 20px;
  }
  .third-section .third-section-main .arrow_2 {
    left: 20px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .third-section {
    padding: 30px 0;
  }
  .third-section .third-section-main .section__title {
    font-size: 30px;
  }
  .third-section .third-section-main .skills {
    max-width: 500px;
  }
}
@media screen and (min-width: 595px) and (max-width: 767px) {
  .third-section .third-section-main .section__title {
    font-size: 30px;
  }
  .third-section .third-section-main .skills {
    max-width: 595px;
  }
  .third-section .third-section-main .skills__item {
    min-width: 146px;
    max-width: 146px;
  }
  .third-section .third-section-main .skills__item__img {
    width: 65px;
    height: 65px;
  }
  .third-section .third-section-main .skills__item__p {
    margin-bottom: 25px;
  }
  .third-section .third-section-main .skills__item__stars {
    align-self: center;
  }
  .third-section .third-section-main .slick-track {
    padding-top: 10px;
  }
  .third-section .third-section-main .arrow, .third-section .third-section-main .arrow_2 {
    display: none;
  }
}
@media screen and (min-width: 412px) and (max-width: 594px) {
  .third-section .third-section-main .section__title {
    font-size: 30px;
  }
  .third-section .third-section-main .skills {
    max-width: 412px;
  }
  .third-section .third-section-main .skills__item {
    min-width: 146px;
    max-width: 146px;
  }
  .third-section .third-section-main .skills__item__img {
    width: 65px;
    height: 65px;
  }
  .third-section .third-section-main .skills__item__p {
    margin-bottom: 25px;
  }
  .third-section .third-section-main .skills__item__stars {
    align-self: center;
  }
  .third-section .third-section-main .slick-track {
    padding-top: 12px;
  }
  .third-section .third-section-main .arrow, .third-section .third-section-main .arrow_2 {
    display: none;
  }
}
@media screen and (min-width: 380px) and (max-width: 411px) {
  .third-section .third-section-main .section__title {
    font-size: 27px;
  }
  .third-section .third-section-main .skills {
    max-width: 380px;
  }
  .third-section .third-section-main .skills__item {
    min-width: 126px;
    max-width: 146px;
  }
  .third-section .third-section-main .skills__item__img {
    width: 65px;
    height: 65px;
  }
  .third-section .third-section-main .skills__item__p {
    margin-bottom: 25px;
  }
  .third-section .third-section-main .skills__item__stars {
    align-self: center;
  }
  .third-section .third-section-main .slick-slide {
    margin: 0 7px;
  }
  .third-section .third-section-main .slick-track {
    padding-top: 12px;
  }
  .third-section .third-section-main .arrow, .third-section .third-section-main .arrow_2 {
    display: none;
  }
}
.fourth-section {
  background-color: #F6F6F6;
}
.fourth-section .container {
  overflow: visible;
}
.fourth-section .fourth-section__wrapper {
  padding: 40px 0;
}
.fourth-section .fourth-section__wrapper .section__title {
  font-size: 34px;
  line-height: 42px;
  text-align: center;
}
.fourth-section .fourth-section__wrapper .portfolio {
  padding-top: 20px;
}
.fourth-section .fourth-section__wrapper .portfolio__link {
  display: block;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-decoration-line: underline;
  color: #070707;
}
.fourth-section .fourth-section__wrapper .portfolio__link:hover {
  font-weight: 600;
}
.fourth-section .fourth-section__wrapper .portfolio__prev {
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
}
.fourth-section .fourth-section__wrapper .portfolio__prev img {
  max-width: 400px;
  cursor: pointer;
  filter: grayscale(100%);
}
.fourth-section .fourth-section__wrapper .portfolio__prev img:hover {
  filter: none;
}
.fourth-section .fourth-section__wrapper .portfolio2 {
  padding-top: 95px;
}
.fourth-section .fourth-section__wrapper .portfolio2 h4 {
  display: block;
  font-weight: 200;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: underline;
  text-align: center;
}
.fourth-section .fourth-section__wrapper .portfolio2__prev {
  padding-top: 30px;
  display: flex;
  justify-content: space-around;
}
.fourth-section .fourth-section__wrapper .portfolio2__prev1, .fourth-section .fourth-section__wrapper .portfolio2__prev2 {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.fourth-section .fourth-section__wrapper .portfolio2__prev1 > img, .fourth-section .fourth-section__wrapper .portfolio2__prev2 > img {
  max-width: 400px;
  cursor: pointer;
  filter: grayscale(100%);
}
.fourth-section .fourth-section__wrapper .portfolio2__prev1 > img:hover, .fourth-section .fourth-section__wrapper .portfolio2__prev2 > img:hover {
  filter: none;
}
.fourth-section .active {
  transform: scale(1.7);
  transition-duration: 2s;
  z-index: 10;
  filter: none !important;
}

@media screen and (min-width: 1920px) {
  .fourth-section .fourth-section__wrapper {
    padding: 50px 0;
  }
  .fourth-section .fourth-section__wrapper .section__title {
    font-size: 38px;
  }
  .fourth-section .fourth-section__wrapper .portfolio__link {
    font-size: 19px;
  }
  .fourth-section .fourth-section__wrapper .portfolio__prev img {
    max-width: 600px;
  }
  .fourth-section .fourth-section__wrapper .portfolio2 h4 {
    font-size: 19px;
  }
  .fourth-section .fourth-section__wrapper .portfolio2__prev1 > img, .fourth-section .fourth-section__wrapper .portfolio2__prev2 > img {
    max-width: 600px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .fourth-section .fourth-section__wrapper {
    padding: 30px 0;
  }
  .fourth-section .fourth-section__wrapper .section__title {
    font-size: 30px;
  }
  .fourth-section .fourth-section__wrapper .portfolio__prev img {
    max-width: 350px;
    filter: none;
  }
  .fourth-section .fourth-section__wrapper .portfolio2__prev1 > img, .fourth-section .fourth-section__wrapper .portfolio2__prev2 > img {
    max-width: 350px;
    filter: none;
  }
}
@media screen and (min-width: 595px) and (max-width: 767px) {
  .fourth-section .fourth-section__wrapper .section__title {
    font-size: 30px;
  }
  .fourth-section .fourth-section__wrapper .portfolio {
    padding-top: 20px;
  }
  .fourth-section .fourth-section__wrapper .portfolio__prev {
    padding-top: 20px;
    gap: 25px;
    justify-content: start;
    overflow-x: scroll;
  }
  .fourth-section .fourth-section__wrapper .portfolio__prev img {
    max-width: 500px;
    filter: none;
  }
  .fourth-section .fourth-section__wrapper .portfolio2 {
    padding-top: 45px;
  }
  .fourth-section .fourth-section__wrapper .portfolio2__prev {
    padding-top: 30px;
    gap: 25px;
    justify-content: start;
    overflow-x: scroll;
  }
  .fourth-section .fourth-section__wrapper .portfolio2__prev1 > img, .fourth-section .fourth-section__wrapper .portfolio2__prev2 > img {
    max-width: 500px;
    filter: none;
  }
  .fourth-section .active {
    transform: scale(1);
  }
}
@media screen and (min-width: 412px) and (max-width: 594px) {
  .fourth-section .fourth-section__wrapper .section__title {
    font-size: 30px;
  }
  .fourth-section .fourth-section__wrapper .portfolio {
    padding-top: 20px;
  }
  .fourth-section .fourth-section__wrapper .portfolio__prev {
    padding-top: 20px;
    gap: 15px;
    justify-content: start;
    overflow-x: scroll;
  }
  .fourth-section .fourth-section__wrapper .portfolio__prev img {
    max-width: 380px;
    filter: none;
  }
  .fourth-section .fourth-section__wrapper .portfolio2 {
    padding-top: 45px;
  }
  .fourth-section .fourth-section__wrapper .portfolio2__prev {
    padding-top: 15px;
    gap: 15px;
    justify-content: start;
    overflow-x: scroll;
  }
  .fourth-section .fourth-section__wrapper .portfolio2__prev1 > img, .fourth-section .fourth-section__wrapper .portfolio2__prev2 > img {
    max-width: 380px;
    filter: none;
  }
  .fourth-section .active {
    transform: scale(1);
  }
}
@media screen and (min-width: 380px) and (max-width: 411px) {
  .fourth-section .fourth-section__wrapper .section__title {
    font-size: 27px;
  }
  .fourth-section .fourth-section__wrapper .portfolio {
    padding-top: 20px;
  }
  .fourth-section .fourth-section__wrapper .portfolio__prev {
    padding-top: 20px;
    gap: 5px;
    justify-content: start;
    overflow-x: scroll;
  }
  .fourth-section .fourth-section__wrapper .portfolio__prev img {
    max-width: 360px;
    filter: none;
  }
  .fourth-section .fourth-section__wrapper .portfolio2 {
    padding-top: 25px;
  }
  .fourth-section .fourth-section__wrapper .portfolio2__prev {
    padding-top: 15px;
    gap: 5px;
    justify-content: start;
    overflow-x: scroll;
  }
  .fourth-section .fourth-section__wrapper .portfolio2__prev1 > img, .fourth-section .fourth-section__wrapper .portfolio2__prev2 > img {
    max-width: 360px;
    filter: none;
  }
  .fourth-section .active {
    transform: scale(1);
  }
}
.container {
  overflow: visible;
}

.footer__wrapper {
  padding: 40px 0 35px;
  position: relative;
}
.footer__wrapper .section__title {
  font-size: 34px;
  line-height: 42px;
  text-align: center;
}
.footer__wrapper__pf {
  margin: 20px 0 29px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #070707;
}
.footer__wrapper__bt {
  position: relative;
  display: block;
  margin: 0 auto 80px;
  width: 180px;
  height: 42px;
  border-radius: 12px;
  background: #070707;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #FFFFFF;
}
.footer__wrapper__bt:hover {
  background: #FFFFFF;
  color: #070707;
  font-weight: 600;
}
.footer__wrapper__links {
  margin: 0 auto 45px;
  display: flex;
  justify-content: center;
  gap: 61px;
}
.footer__wrapper__links a {
  transition-duration: 2s;
}
.footer__wrapper__links a:hover {
  transform: rotate(360deg);
  transition-duration: 2s;
}
.footer__wrapper__links a img {
  max-width: 40px;
}
.footer__wrapper__pf2 {
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #828282;
}
.footer__wrapper .modal__background {
  display: none;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}
.footer__wrapper .modal {
  display: none;
  margin: 0 auto;
  width: 600px;
  background-color: #F6F6F6;
  border-radius: 10px;
  border: 2px solid black;
  padding: 30px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: default;
  z-index: 1;
  filter: none;
}
.footer__wrapper .modal__info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 15px;
}
.footer__wrapper .modal__info > a > img {
  max-width: 20px;
  max-height: 20px;
  cursor: pointer;
}
.footer__wrapper .modal__info > a > img:hover {
  transform: scale(1.1);
}
.footer__wrapper .modal__title {
  font-size: 24px;
  font-weight: 600;
}
.footer__wrapper .modal .modal__form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer__wrapper .modal .modal__form .modal__input {
  min-width: 100%;
  min-height: 56px;
  padding: 15px;
  border: 1px solid #FFFFFF;
  border-radius: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #000000;
}
.footer__wrapper .modal .modal__form .modal__input:focus {
  border: 1px solid black;
  outline: 0;
}
.footer__wrapper .modal .modal__form .modal__input:disabled {
  background: #EDEDF7;
  border: 1px solid #EDEDF7;
  border-radius: 8px;
}
.footer__wrapper .modal .modal__form .modal__input:invalid {
  color: #FF0000;
  border: 1px solid #FF0000;
  outline: 0;
}
.footer__wrapper .modal .modal__form .modal__input::placeholder {
  padding: 0 15px 15px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #65656b;
}
.footer__wrapper .modal .modal__form__message {
  min-width: 100%;
  min-height: 56px;
  padding: 15px;
  border: 1px solid #FFFFFF;
  border-radius: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #000000;
  min-height: 130px;
  resize: none;
}
.footer__wrapper .modal .modal__form__message:focus {
  border: 1px solid black;
  outline: 0;
}
.footer__wrapper .modal .modal__form__message:disabled {
  background: #EDEDF7;
  border: 1px solid #EDEDF7;
  border-radius: 8px;
}
.footer__wrapper .modal .modal__form__message:invalid {
  color: #FF0000;
  border: 1px solid #FF0000;
  outline: 0;
}
.footer__wrapper .modal .modal__form__message::placeholder {
  padding: 0 15px 15px 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #65656b;
}
.footer__wrapper .modal .modal__form__par {
  font-size: 18px;
  margin-top: 25px;
}
.footer__wrapper .modal .modal__form__button {
  margin-top: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100%;
  min-height: 56px;
  background-color: black;
  color: #FFFFFF;
  border-radius: 12px;
  font-size: 18px;
  line-height: 20px;
}
.footer__wrapper .modal .modal__form__button:hover {
  background: rgba(233, 253, 242, 0.97);
  color: black;
  font-weight: 600;
}
.footer__wrapper .modal .modal__form__button:active {
  background: rgba(10, 12, 11, 0.97);
}

@media screen and (min-width: 1920px) {
  .footer__wrapper {
    padding: 50px 0 35px;
  }
  .footer__wrapper .section__title {
    font-size: 38px;
  }
  .footer__wrapper__pf {
    font-size: 19px;
  }
  .footer__wrapper__bt {
    font-size: 19px;
  }
  .footer__wrapper__links a img {
    max-width: 50px;
  }
  .footer__wrapper__pf2 {
    font-size: 16px;
  }
  .footer__wrapper .modal {
    width: 700px;
  }
  .footer__wrapper .modal__info > a > img {
    max-width: 25px;
    max-height: 25px;
  }
  .footer__wrapper .modal__title {
    font-size: 26px;
  }
  .footer__wrapper .modal .modal__form__message {
    min-height: 140px;
  }
  .footer__wrapper .modal .modal__form__par {
    font-size: 19px;
  }
  .footer__wrapper .modal .modal__form__button {
    font-size: 19px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .footer__wrapper {
    padding: 30px 0;
  }
  .footer__wrapper .section__title {
    font-size: 30px;
  }
  .footer__wrapper__links {
    margin: 0 auto 30px;
  }
  .footer__wrapper .modal {
    width: 550px;
  }
  .footer__wrapper .modal__title {
    font-size: 22px;
  }
  .footer__wrapper .modal .modal__form__message {
    min-height: 110px;
  }
  .footer__wrapper .modal .modal__form__par {
    font-size: 18px;
    margin-top: 25px;
  }
  .footer__wrapper .modal .modal__form__button {
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    min-height: 56px;
    background-color: black;
    color: #FFFFFF;
    border-radius: 12px;
    font-size: 18px;
    line-height: 20px;
  }
  .footer__wrapper .modal .modal__form__button:hover {
    background: rgba(233, 253, 242, 0.97);
    color: black;
    font-weight: 600;
  }
  .footer__wrapper .modal .modal__form__button:active {
    background: rgba(10, 12, 11, 0.97);
  }
}
@media screen and (min-width: 595px) and (max-width: 767px) {
  .footer__wrapper .section__title {
    font-size: 30px;
  }
  .footer__wrapper .modal {
    width: 525px;
    padding: 25px;
  }
  .footer__wrapper .modal__title {
    font-size: 22px;
  }
  .footer__wrapper .modal .modal__form__button {
    margin: 0 auto;
    min-width: 350px;
    min-height: 40px;
    border-radius: 12px;
    font-size: 16px;
    line-height: 16px;
  }
  .footer__wrapper .modal .modal__form__button:hover {
    background: rgba(233, 253, 242, 0.97);
    color: black;
    font-weight: 600;
  }
  .footer__wrapper .modal .modal__form__button:active {
    background: rgba(10, 12, 11, 0.97);
  }
}
@media screen and (min-width: 412px) and (max-width: 594px) {
  .footer__wrapper .section__title {
    font-size: 30px;
  }
  .footer__wrapper .modal {
    width: 412px;
    padding: 25px;
  }
  .footer__wrapper .modal__title {
    font-size: 22px;
  }
  .footer__wrapper .modal .modal__form__button {
    margin: 0 auto;
    min-width: 350px;
    min-height: 40px;
    border-radius: 12px;
    font-size: 16px;
    line-height: 16px;
  }
  .footer__wrapper .modal .modal__form__button:hover {
    background: rgba(233, 253, 242, 0.97);
    color: black;
    font-weight: 600;
  }
  .footer__wrapper .modal .modal__form__button:active {
    background: rgba(10, 12, 11, 0.97);
  }
}
@media screen and (min-width: 380px) and (max-width: 411px) {
  .footer__wrapper .section__title {
    font-size: 27px;
  }
  .footer__wrapper__pf {
    font-size: 16px;
    line-height: 16px;
  }
  .footer__wrapper .modal {
    width: 380px;
    padding: 25px;
  }
  .footer__wrapper .modal__title {
    font-size: 18px;
  }
  .footer__wrapper .modal .modal__form__button {
    margin: 0 auto;
    min-width: 330px;
    min-height: 40px;
    border-radius: 12px;
    font-size: 16px;
    line-height: 16px;
  }
  .footer__wrapper .modal .modal__form__button:hover {
    background: rgba(233, 253, 242, 0.97);
    color: black;
    font-weight: 600;
  }
  .footer__wrapper .modal .modal__form__button:active {
    background: rgba(10, 12, 11, 0.97);
  }
}

/*# sourceMappingURL=main.css.map */
