.third-section{
  padding: 40px 0;

  .third-section-main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18px;

    .section__title {
      font-size: 34px;
      line-height: 42px;
      text-align: center;
    }

    .skills {
      padding-top: 24px;
      padding-bottom: 10px;
      max-width: 740px;
      display: flex;
      justify-content: space-around;

      &__item {
        min-width: 166px;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-self: center;

        &__img {
          width: 75px;
          height: 75px;
          align-self: center;
          margin-bottom: 24px;
          transition: 1s;

          &:hover {
            transform: scale(1.2);
            transition-duration: 1s;
          }
        }

        &__p {
          font-size: 14px;
          line-height: 17px;
          text-align: center;
          color: #828282;
          margin-bottom: 40px;
        }

        &__stars {
          align-self: center;
        }
      }
    }

    .slick-slide {
      margin: 0 35px ;
    }

    .slick-track {
      padding-top: 10px;
    }

    .arrow, .arrow_2 {
      cursor: pointer;
      width: 40px;
      height: 40px;
      position: absolute;
      top: 190px;
    }

    .arrow {
      right: 0;
    }

    .arrow_2 {
      transform: rotate(180deg);
      left: 0;
    }
  }
}

@media screen and (min-width: 1920px) {
  .third-section {
    .third-section-main {
      .section__title {
        font-size: 38px;
      }

      .section__pf__info {
        font-size: 19px;
      }

      .skills {
        max-width: 1150px;

        &__item {
          &__img {
            width: 95px;
            height: 95px;
          }

          &__p {
            font-size: 19px;
          }
        }
      }

      .arrow, .arrow_2 {
        width: 45px;
        height: 45px;
      }
    }
  }
}

@media screen and (min-width: 1024px) and (max-width: 1364px) {
  .third-section{
    .third-section-main {

      .arrow, .arrow_2 {
        cursor: pointer;
        width: 40px;
        height: 40px;
        position: absolute;
        top: 190px;
      }

      .arrow {
        right: 20px;
      }

      .arrow_2 {
        left: 20px;
      }
    }
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  .third-section{
    padding: 30px 0;

    .third-section-main {
      .section__title {
        font-size: 30px;
      }
    }
  }
}

@media screen and (min-width: 595px) and (max-width: 767px) {
  .third-section{
    .third-section-main {
      .section__title {
        font-size: 30px;
      }

      .skills {
        max-width: 595px;

        &__item {
          min-width: 146px;
          max-width: 146px;

          &__img {
            width: 65px;
            height: 65px;
          }

          &__p {
            margin-bottom: 25px;
          }

          &__stars {
            align-self: center;
          }
        }
      }

      .slick-track {
        padding-top: 8px;
      }

      .arrow, .arrow_2 {
       display: none;
      }
    }
  }
}